<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FilmLab</title>
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
<header>
    
    
    <div id="header-div">
        <div id="header-logo">
            <a asp-action="Index"><img src = "~/images/logo-1.png" alt="logo" height="75"></a>
        </div>
        <div id="navigation-bar">
            <ul id="navbar">
                <li><a asp-controller="Home" asp-action="films" class="header-menu">Фильмы</a></li>
                <li><a asp-controller="Home" asp-action="gallery" class="header-menu">Галерея</a></li>
                <li><a asp-controller="Home" asp-action="biography" class="header-menu">Биографии</a></li>
                <li><a asp-controller="Home" asp-action="about" class="header-menu" >О нас</a></li>
                <a asp-controller="User" asp-action="Registration"><img src="~/images/auth-image.png" id="auth-image"></a>
            </ul>
        </div>
    </div>
</header>

@RenderBody()


<footer class="footer-distributed">
   <div class="footer-right">
           <a href="https://vk.com/i.zheltikov">
               <img class="footer-social-network-icon" src="~/images/footer/vk.png">
           </a>
           <a href="https://instagram.com/i.zheltikov">
               <img class="footer-social-network-icon" src="~/images/footer/inst.png">
           </a>
           <a href="https://github.com/Voxsie">
               <img class="footer-social-network-icon" src="~/images/footer/github.png">
           </a>
       </div>
       <div class="footer-left">
           <p class="footer-links">
               <a class="link-1" asp-action="index">Главная </a>
               <a asp-action="films">Фильмы </a>
               <a asp-action="gallery">Галерея </a>
               <a asp-action="biography">Биографии </a>
               <a asp-action="about">О нас</a>
           </p>
           <p>FilmLab &copy; 2021</p>
       </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>