@{
    ViewData["Title"] = "О нас";
}
<div class="aboutus-div">
    <h1>Film Lab - Все о киноиндустрии</h1>
    <img hspace="10" vspace="10" class="aboutus-pic" src="~/images/favicon.png">
    <h3>
        Данный сайт был создан <br>
        3 студентами КФУ, <br>
        с целью поддержки <br>
        2 популярных сфер: <br>
        <ul>
            <li>Киноиндустрии</li>
            <li> <a href="http://ulearn.me">Программирования</a></li>
        </ul>
        Данный сайт поможет вам всегда оставаться в курсе <br>
        всех новостей из киноиндустрии, ознакомиться с горячими <br>
        новинками из мира кино. <br>
        Ссылки на социальные сети вы можете найти ниже:
    </h3>
    <a href="https://vk.com/i.zheltikov">
        <img class="social-network-icon" src="~/images/footer/vk.png">
    </a>
    <a href="https://instagram.com/i.zheltikov">
        <img class="social-network-icon" src="~/images/footer/inst.png">
    </a>
    <a href="https://github.com/Voxsie">
        <img class="social-network-icon" src="~/images/footer/github.png">
    </a>

</div>
