@{
    ViewData["Title"] = "Биографии";
}
<div class="films-index">
    <div class="film-category">
        <h1> Актеры Человека Паука: Нет пути домой</h1>
    </div>
<div class="film-list">
    <div class="film-list-item">
        <a asp-controller="Home" asp-action="tomholland">
            <img class="film-preview-pic" src="~/images/actors/holland.png">
            <h2>
                Том Холланд</h2>
        </a>
    </div>
    <div class="film-list-item">
        <a asp-controller="Home" asp-action="tomholland">
            <img class="film-preview-pic" src="~/images/actors/zendeya.png">
            <h2>Зендея</h2>
        </a>
    </div>
    <div class="film-list-item">
        <a asp-controller="Home" asp-action="tomholland">
            <img class="film-preview-pic" src="~/images/actors/cumum.png">
            <h2>Бенедикт Камбербэтч</h2>
        </a>
    </div>
    <div class="film-list-item">
        <a asp-controller="Home" asp-action="tomholland">
            <img class="film-preview-pic" src="~/images/actors/tomei.png">
            <h2>
                Мариса Томей</h2>
        </a>
    </div>
    <div class="film-list-item">
        <a asp-controller="Home" asp-action="tomholland">
            <img class="film-preview-pic" src="~/images/actors/defoi.png">
            <h2>
                Уиллем Дефо</h2>
        </a>
    </div>
</div>
</div>