@{
    ViewData["Title"] = "Джиперс-Криперс 4";
}

<div class="film-main-div" style="background-image: url('../../wwwroot/css/images/carousel/background2.jpeg'); background-size: cover;">

  <div class="film-left-div">
    <img class="film-preview" src="~/images/films/preview/film-jipers-kripers.jpeg">
    <div class="film-left-inner-div">
      <h4>
        Год производства: 2021 <br>
        Страна: США, Великобритания, Финляндия <br>
        Жанр: ужасы, триллер, детектив <br> <br>
        Режиссер: Тимо Вуоренсола <br> <br>
        Премьера в Росcии: <br>
        3 марта 2021 <br> <br>
        Премьера в мире: <br>
        30 декабря 2021 <br> <br>
        Рейтинг ожидания : 98% <br> <br>
        Возраст: 18+ <br>
      </h4>
    </div>
  </div>
  <div class="film-right-div">
    <h1>Джиперс Криперс: Возрожденный (2021)</h1>
    <div class="film-right-inner-div">
      <iframe width="560" height="315"
              src="https://www.youtube-nocookie.com/embed/vGCCzXcw-p0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      <h4>
        Вынужденная отправиться со своим бойфрендом на Horror Hound festival,
        Лейн не испытывает радости. По мере приближения события девушку начинают
        мучить необъяснимые предчувствия и тревожные видения. В разгар фестиваля Лейн
        уже уверена, что происходит нечто сверхъестественное, и она находится в центре всего этого.
      </h4>
    </div>
  </div>
</div>