@using FilmLabBackEnd.Data
@{
    var data = new DataRepository("Host=localhost;Username=postgres;Password=220502446688;Database=postgres");
    var user = data.getUserByEmail(User.Identity.Name);
    ViewData["Title"] = "Профиль";
}

<div class="profile-div">
    <div class="profile-div-inner">
        <img class= "profile-pic" src="~/images/auth-image.png">
        <div class="profile-info">
            <div class="profile-main-info">
                <h1>Илья</h1>
                <h2>Voxsie</h2> <br>
                <h3>Новичок в кино</h3>
                <h3>izheltikov0@gmail.com</h3>
            </div>
            <div>
            </div>

        </div>
    </div>
    <div class="profile-footer">
        <button class="profile-button">Изменить картинку</button>
        <button class="profile-button">Изменить пароль</button>
    </div>
</div>