@{
    ViewData["Title"] = "Тихая ночь";
}
<div class="film-main-div" style="background-image: url('~/images/carousel/background3.jpeg'); background-size: cover;">

  <div class="film-left-div">
    <img class="film-preview" src="~/images/films/preview/film-silient-night.jpeg">
    <div class="film-left-inner-div">
      <h4>
        Год производства: 2021 <br>
        Страна: Великобритания <br>
        Жанр: драма, комедия, ужасы <br> <br>
        Режиссер: Камилль Гриффин <br> <br>
        Слоган: <br>
        «Celebrating a final Christmas night before an apocalypse will destroy the world» <br> <br>
        Возраст: 16+ <br>
      </h4>
    </div>
  </div>
  <div class="film-right-div">
    <h1>Тихая ночь</h1>
    <div class="film-right-inner-div">
      <iframe width="560" height="315"
              src="https://www.youtube-nocookie.com/embed/2nUF8h0cO7U"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay;
                            clipboard-write; encrypted-media;
                            gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      <h4>
        Супруги Нелл и Саймон и трое их сыновей готовы приветствовать друзей на идеальном рождественском ужине в своем красивом загородном доме. Идеально всё, за исключением одного: скоро миру придет конец, и все умрут.
      </h4>
    </div>
  </div>
</div>