@{
    ViewData["Title"] = "Человек-паук 3: Нет пути домой";
}

<div class="film-main-div" style="background-image: url('images/carousel/background1.jpeg');">

  <div class="film-left-div">
    <img class="film-preview" src="images/films/preview/film-spiderman3.jpeg">
    <div class="film-left-inner-div">
      <h4>
        Год производства: 2021 <br>
        Страна: США, Исландия <br>
        Жанр: фантастика, боевик, приключения <br> <br>
        Режиссер: Джон Уоттс <br> <br>
        Премьера в Росcии: <br>
        15 декабря 2021, «СППР» <br> <br>
        Премьера в мире: <br>
        15 декабря 2021 <br> <br>
        Рейтинг ожидания : 98% <br> <br>
        Возраст: 12+ <br>
      </h4>
    </div>
  </div>
  <div class="film-right-div">
    <h1>Человек-Паук 3: Нет пути домой (2021)</h1>
    <div class="film-right-inner-div">
      <iframe width="500" height="300"
            src="https://www.youtube-nocookie.com/embed/V0hagz_8L3M"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay;
                            clipboard-write; encrypted-media;
                            gyroscope; picture-in-picture"
            allowfullscreen></iframe>
      <h4>
        Жизнь и репутация Питера Паркера оказываются под угрозой, поскольку Мистерио раскрыл всему миру тайну личности Человека-паука. Пытаясь исправить ситуацию, Питер обращается за помощью к Стивену Стрэнджу, но вскоре всё становится намного опаснее.
      </h4>
    </div>
  </div>
</div>