@{
    ViewData["Title"] = "Том Холланд";
}
<!--=========== Body =============-->
<div class="film-main-div" style="background-image: url('images/carousel/background1.jpeg');">

  <div class="film-left-div">
    <img class="film-preview" src="images/actors/holland.png">
    <div class="film-left-inner-div">
    </div>
  </div>
  <div class="film-right-div">
    <h1>Том Холланд</h1>
    <div class="film-right-inner-div">
      <h4>
        Tom Holland
      </h4>
      <h4>
        Карьера:
        Актер, Режиссер, Продюсер <br> <br>
        Рост:
        1.73 м <br> <br>
        Дата рождения:
        1 июня, 1996 • Близнецы • 25 лет <br> <br>
        Место рождения
        Кингстон-апон-Темс, Большой Лондон, Великобритания <br> <br>
        Жанры:
        Боевик, приключения, драма <br> <br>
        Всего фильмов:
        63, 2012 — 2022 <br>
      </h4>
    </div>
  </div>
</div>